@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Lao+Looped:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Thai:wght@100..900&display=swap');
@import "tailwindcss";

body{
    font-family: "Inter", sans-serif;
}